<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=DESKTOP-JKBE1R5\SQLEXPRESS2012;Initial Catalog=DB_CMYKART;User ID=Mad;Password=123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>